@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
    font-family: "Lora", serif;

}

.hr1 {
    width: 90%;
    margin: 50px auto;
}

header {
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

h1 {
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: end;
    gap: 50px;
    font-size: 20px;
}

a:hover {
    color: rgb(116, 116, 116);
}

main {
    position: relative;
    top: 110px;

}

#about {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.personalImg {
    width: 300px;
}

.greeting {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 60px;
    color: rgb(255, 89, 37);
}

.about {
    font-size: 30px;
}

#work {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

article {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

h3 {
    font-size: 30px;
}

.workImg {
    border: 10px solid snow;
    /*width: 350px;*/
    width: 450px;
}

.description {
    width: fit-content;
    position: absolute;
    transform: translateY(-170%);
    backdrop-filter: blur(8px);
    padding: 5px;
    line-height: 1.25;
    border-radius: 5px;
}

#firstArticle {
    width: 100%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.firstImage {
    width: 90%;
}

.firstDescription {
    border: 1px solid goldenrod;
}

.firstDescription h3 {
    font-size: 30px;
    line-height: 1.5;
}

.firstDescription p {
    font-size: 20px;
}

.hr2 {
    position: relative;
    bottom: -110px;
    width: 90%;
    margin: 0 auto;
}

#contact {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
    position: relative;
    bottom: -160px;
    padding-bottom: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

#contact p {
    font-size: 40px;
    font-weight: 700;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.email {
    user-select: all;
}


@media screen and (max-width: 1024px) {
    #contact {
        align-items: center;
    }

    ul {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        line-height: 1.25;
        height: fit-content;
    }

    nav {
        justify-content: center;
    }

    .workImg {
        border: 10px solid rgb(125, 250, 250);
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    .greeting {
        align-items: center;
        width: 70%;
        text-align: center;
        border: 1px solid grey;
        margin-bottom: 50px;
    }

    #contact {
        width: 99%;
        height: fit-content;
        border: 1px solid grey;
        margin-top: 120px;
        bottom: 20px;
        padding-bottom: 0;
    }

    ul {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    html {
        display: flex;
    }

    main {
        top: 25px;
    }

    header {
        position: relative;
        width: fit-content;
        align-items: center;
        margin: 0 auto;
    }
.workImg {
    width: 95%;
}
    #contact {
        bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

}