.section {
    display: flex;
}
#about-me {
    border: 1px solid black;
}
#about-me p {
    border: 1px solid black;
    text-align: justify;
}
img {
    border: 2px solid black;
    float: right;
}


footer {
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    width: 100%;
}